/* ============ FONTS ============ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

/* ============ RESET Section ============ */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 20px;
}

/* ============ VARIABLES CSS ============ */

:root{

    /* ========== Fonts and Typography ========== */
    --first-font: 'Roboto', sans-serif;
    --subtitle-font: 'Lora', serif;
    --text-font: 'Hind Madurai', sans-serif;

    --h1-font-size: 2rem;
    --h2-font-size: 1.72rem;
    --h3-font-size: 1.31rem;
    --h4-font-size: 1.25rem;
    --h5-font-size: 1rem;
    --h6-font-size: .735rem;


    /* ====== fonts weight ====== */
    --regular-weight: 400;
    --medium-weight: 500;
    --bold-weight: 700;

    /* ====== colors ====== */
    --first-color: hsl(42, 31%, 94%);
    --first-color-darker: hsl(40, 13%, 87%);
    --text-color: hsl(280, 2%, 25%);
    --text-color-darker: hsl(0, 0%, 32%);
    --green-color: hsl(159, 97%, 27%);
    --blue-color: hsl(191, 40%, 66%);
    --alternate-color: hsl(191, 87%, 12%);

    /* ====== z-index ====== */
    --z-index-fixed: 100;
}

/* ============ BASE ============ */

h1{
    font-family: var(--first-font);
    font-size: var(--h1-font-size);
    font-weight: lighter;
}

h2{
    font-family: var(--subtitle-font);
    font-size: var(--h2-font-size);
}

h3{
    font-family: var(--subtitle-font);
    font-size: var(--h3-font-size);
}

img{
    display: block;
}

a{
    text-decoration: none;
    cursor: pointer;
}

li{
    list-style: none;
}


header{
    width: 100%;
    background-color: var(--first-color);
}

/* ============ header ============ */
.advertise h6{
    position: relative;
    float: right;
    background-color: white;
    padding: .2rem .3rem 0 .5rem;
    font-family: var(--first-font);
    font-size: .7rem;
    margin-right: 1.4rem;
}

/* ============ header navigation ============ */
.header__nav{
    position: relative;
    background-color: var(--first-color);
    width: 59rem;
    height: 5.5rem;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__nav img{
    width: 45px;
}

.hero__nav{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.header__logo{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
}

nav{
    width: 50%;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: .7rem;
}

.nav li a{
    font-family: var(--text-font);
    font-weight: var(--bold-weight);
    font-size: var(--h6-font-size);
    color: var(--text-color-darker);
    text-transform: uppercase;
}

.nav li:nth-last-child(1):hover{
    text-decoration: underline;
    text-underline-offset: .2rem;
}

/* ============ header navigation ============ */
.banner{
    width: 100%;
    height: 30rem;
    background-image: url(./img/banner-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.callout__box{
    max-width: 59rem;
    margin: 0 auto;
    padding: 0 3rem;
    
}

.callout{
    width: 50%;
    height: 30rem;
    text-align: center;
}

.description1{
    padding-top: 22%;
    font-size: var(--h2-font-size);
    color: var(--text-color-darker);
    line-height: 1.4;
}

.preorder{
    display: block;
    background-color: var(--green-color);
    color: var(--first-color);
    width: 75%;
    margin: .5rem auto 0 auto;
    padding: .6rem;
    border-radius: .3rem;
    font-family: var(--subtitle-font);
    font-weight: var(--bold-weight);
    text-transform: uppercase;

}
